html
  head
    title open cards
  body
    each board in boards
      div 
        
        div
          a( href='#{ board.boardUrl }' ) #{ board.boardName }

        ul
          each card in board.doingCards
            li 
              a( href='#{ card.url }' ) 
                b #{ card.name }
              div #{ card.url }

        ul
          each card in board.nextCards
            li 
              a( href='#{ card.url }' ) #{ card.name }
              div #{ card.url }
